.intro__title {
    font-size: 54px;
    line-height: 59px;
    text-align: start;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 74%;
        font-size: 32px;
        line-height: 35px;
    }
}